* {
  box-sizing: border-box;
  position: relative;
}

body{

}

#nav {
  border: 1px ;
  background-color: rgba(59, 58, 54, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;  
}

h1{
	text-align: center;
}

.menu{
	text-align: right;
}

#content {
  background-color: #e1e8f0;
}

.container {
  border-left:1px solid lightgrey; 
  border-right:1px solid lightgrey;
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
}

#about, #my-work, #contact-me {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 1px;
  display: block;
}

hr.bar {
  width: 80px;
  margin: 20px auto;
  background-color: orange;
  padding-top: 2px;
  border: 0;
}


#my-work, #contact-me{
	margin-top: -80px;
}

.menu li {
  display: inline-block;

  width: 150px;
  padding: 10px 0;
  margin: 0 10px;

  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #e1e8f0;
}

li a {
  display: block;
  color: #3b3a36;
  text-decoration: none;
}

li:hover  {
  background-color: #22264b;
}

li:hover a {
  color: #e1e8f0;
  font-weight: 800;
}

#my-avatar {
  float: left;
  margin-right: 20px;
}

#my-avatar img {
  width: 200px;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

table {
  font-size: 14px;
  text-align: left;
}

th, td {
  vertical-align: top;
}

td {
  color: #666;
  padding-left: 10px;
}


.item {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.item img{
	width: 100%;

}

.item-info {
  background-color: rgba(255,255,255,.8);   /* 背景半透明 */

  position: absolute;
  top: 0px;
  left: 0;

  text-align: center;

  width: 100%;
  height:100%;

  opacity: 0;
}

.item-info:hover {
  opacity: 1;
}


form.contact-form {
  width: 50%;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}

.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="sumbit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

#my-work-gallery {
    text-align: center;
}

@media (min-width: 1024px) {
  .menu-button ,
  .menu-button-checkbox{
    display: none;
  }
}

@media (max-width: 1023px) {

.container {
    width: auto;
  }

.menu-button {
    float: right;
    font-size: 25px;
    line-height: 40px;
    color: white;
    background: transparent;
    padding: 0 15px;
    border: 0;
  }
.menu-button-checkbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 40px;
    opacity: 0;
  }

.menu-button-checkbox:checked ~ .menu {
    display: block;
  }
  
.menu {
    background-color: rgba(59, 58, 54, 0.9);
    display: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 166px;
  }

.menu li {
  margin: 8px;
  }

#my-avatar {
  width: 100%; 
}

#my-avatar img {
  display: block;
  margin: 15px auto;
}

.item {
    max-width: 100%;
  }

form.contact-form {
    width: 80%;
  }

}

/* utility */

